<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<%- include('../partial/header') %>
    <div class="container min-vh-100 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col-8">
                <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                    <img src="https://media2.giphy.com/media/EoH4Wpu8suiNTLpI6j/giphy.gif?cid=ecf05e47zxqo1hp4451eeagc1qdlkonuy23tq72j16lezfd6&rid=giphy.gif&ct=g"
                        alt="Register GIF">
                </div>
            </div>
            <div class="col-4">
                <div
                    class="d-flex justify-content-center flex-column align-items-center bg-white pt-5 pb-3 rounded-3 mb-3">
                    <h1 class="font-logo text-center">InstaGIF</h1>
                    <hr class="w-75" />
                    <form action="/login" method="post">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" placeholder="name@example.com"
                                name="email">
                            <label for="email">Email address</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="password" placeholder="Password"
                                name="password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <br>
                        <div class="btn-group d-grid">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                    </form>
                </div>
                <div class="d-flex justify-content-center flex-column align-items-center bg-white rounded-3 p-3">
                    <h6 class="m-0">Don't Have an Account, <a href="/register">Sign Up</a></h6>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="fw-bold text-secondary">
                    Provided by <span class="">Agnes & Arie</span>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partial/footer') %>